@model List<AcunMedyaPortfolioProject.Models.Projects>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Index</h2>

<div class="container">
    <table class="table table-bordered">
        <thead class="thead-dark">

            <tr>
                <th>Id</th>
                <th>Proje İsmi</th>
                <th>Kategori İsmi</th>
                <th>Kapak Resmi</th>
                <th>Açıklama</th>
                <th>Proje Linki</th>
                <th>Güncelle</th>
                <th>Kaldır</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model)
            {
                <tr>
                    <td>@project.Id</td>
                    <td>@project.Name</td>
                    <td>@project.Categories.CategoryName</td>
                    <td><img src="@project.CoverImageUrl" class="img-thumbnail" width="100" /></td>
                    <td>@project.Description</td>
                    <td><a href="@project.ProjectLink" target="_blank" class="btn btn-info">Projeye Git</a> </td>
                    <td><a href="/Project/UpdateCategory/@project.Id" class="btn btn-success">Güncelle</a></td>
                    <td><a href="/Project/DeleteCategory/@project.Id" class="btn btn-danger">Kaldır</a></td>
                </tr>
            }
        </tbody>
    </table>

    <a href="/Project/CreateProject" class="btn btn-primary">Yeni proje ekle</a>
</div>
